/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* =========================================
Estilo para para la envoltura principal
============================================*/

/* wrapper: Envoltura principal */
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

.layout-fixed .wrapper .topnavbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 121;
}

.layout-fixed .wrapper .section-container {
  margin-top: 90px; /* 65px; */
}

body, .wrapper .section-container {
  background-color: var(--content-bg);
}

.wrapper, .section-container {
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

/* @media (min-width: 768px) */
/* .wrapper .section-container, .wrapper .footer-container {
  margin-left: 220px;
} */

.wrapper .section-container {
  position: relative;
  height: 100%;
  margin-left: 0; /*overflow: hidden;*/
  z-index: var(--z-index-main-section);
  background-color: var(--content-bg);
  margin-bottom: var(--footer-hg) !important; /* ensure a space for the footer*/
  position: relative;
}

.wrapper .footer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--footer-hg);
  /* height: 1rem; */
  border-top: 1px solid var(--gray-light);
  padding: var(--content-padding);
  z-index: var(--z-index-main-section) - 2;
  font-size: .875rem;
}

.wrapper .footer-container p {
  margin: 0;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
  margin: 15px;
  padding-left: 30%;
}

.producto-image {
  border-radius: 10px;
  height: 170px;
}

.b, .ba, .bb {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.card {
  margin-bottom: 1.25rem;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 8%);
  border: 0;
  border-radius: 4px;
  margin-bottom: 16px;
}
.card {
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  /* background-clip: border-box; */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card .card-body {
  padding: .9375rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* // Page main content
// ----------------------------- */
.content-wrapper {
    padding: 15px;
    /* // styling to visually wrap the component */
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-top: -1px;
}
.content-wrapper .unwrap {
  /* // expand over wrapper padding */
  margin: -15px; 
  /* @include media-breakpoint-up(md) {
      margin: -20px; // expand over wrapper padding
  } */
}

.content-wrapper .content-heading {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: var(--headings-line-height);
  color: #929292;
  margin: -15px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: var(--content-heading-bg);
  border-bottom: 1px solid var(--content-heading-border);
}

.content-wrapper .content-heading .small {
  display: block;
  font-size: 12px;
  color: var(--text-muted);
}

.content-wrapper 
.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* @include media-breakpoint-up(md) {
  padding: $content-padding; //overflow: auto; // required for portlets
  .content-heading {
      margin: -$content-padding;
      margin-bottom: $content-padding;
      padding: $content-padding;
      button,
      .btn {
          margin: 0;
      }
  }
} */
/* //End Page main content
// ----------------------------- */
