body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* layout-fixed: Diseño fijo principal */
.layout-fixed {
  @media (max-width: 1140px) {
    .aside-toggled, .offsidebar-open {
      overflow-y: hidden;
    }
  }
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* quitar el estilo por defecto de los links */
a, .link-unstyled {
  text-decoration: none !important;
  outline: none !important;
}

:root {
  --body-bg: #f5f7fa;
  --content-bg: --body-bg;
  --footer-hg: 60px;
  --gray-light: #e4eaec;
  --content-padding: 20px;
  --z-index-main-section: 111;
  --headings-line-height: 1.1;
  --content-heading-bg:#fafbfc;
  --content-heading-border:#cfdbe2;
  --text-muted:#909FA7;
}

.text-justify  { text-align: justify !important; }
.text-muted { color: var(--text-muted) !important; }
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

.text-bold   { font-weight: bold !important; }
